html,
body {
  margin: 0; /* Removes any white border around the app */
  padding: 0; /* Ensures no padding causes overflow */
  overflow: hidden; /* Prevents scrolling on the page */
  width: 100%; /* Ensures full width */
  height: 100%; /* Ensures full height */
  background-color: #121212; /* Matches your dark theme background */
  box-sizing: border-box; /* Standardize element sizing */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit; /* Apply border-box to all elements */
}

body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Webkit browsers (Chrome, Safari) */
}
